:root {
  --max-width: 1100px;
  --bg-primary-color: #4D4D4D1A;
  --button--primary: #FBAB34;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
